services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1966
      POSTGRES_DB: weather
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:1966@db:5432/weather
      FORCE_INGEST: "1"
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  pgdata:
